{# This is the template for the about page. You can enter any html here and show different language versions by using the lang value in a twig conditional as demonstrated below. #}
{% block content %}
  <div id="about-content">
    {% if request.lang == 'en' %}
      <p>LTER-Europe was launched in 2003 as the umbrella network for Long-Term Ecosystem Research (LTER) in Europe. The network aims at identifying drivers of ecosystem change across European environmental and economic gradients, and exploring relations between these drivers, responses and developmental challenges under the framework of a common research agenda. LTER-Europe was heavily involved in developing the concept of Long-Term Socio-Ecological Research (LTSER).</p>
      <br/>
      <p>Currently within LTER Europe, the eLTER Research Infrastructure (eLTER RI) is being developed in the framework of ESFRI (European Strategy Forum on Research Infrastructures) focussing, among many matters, on harmonised parameters and methods.</p>
      <br/>
      <p>
        eLTER Vocabulary service belongs to the service components of the emerging eLTER Research Infrastructure (<a target="_blank" href="https://elter-ri.eu/">https://elter-ri.eu/</a>).
      </p>
    {% elseif request.lang == 'de' %}
      <p>LTER-Europe was launched in 2003 as the umbrella network for Long-Term Ecosystem Research (LTER) in Europe. The network aims at identifying drivers of ecosystem change ac></p>
      <br/>
      <p>Currently within LTER Europe, the eLTER Research Infrastructure (eLTER RI) is being developed in the framework of ESFRI (European Strategy Forum on Research Infrastructur>
      {% endif %}
      <div class="tw-flex tw-justify-center tw-mt-8">
        <a target="_blank" href="https://elter-ri.eu/">
          <img alt="eLTER RI Logo" src="resource/pics/eLTER_RI_logo.png" class="tw-w-72">
        </a>
      </div>
    </div>
  {% endblock %}
