<div class="tw-flex tw-w-full tw-h-16 tw-justify-between tw-bg-elter-blue-500 tw-px-6">
  <div class="tw-flex tw-gap-2 tw-items-center"><img src="/resource/pics/eLTER_logo_leaf.svg" class="tw-aspect-square tw-h-9"/><p class="tw-font-extralight tw-text-base-100">Powered by ELTER RI</p>
  </div>
  <ul class="py-3 my-auto nav nav-pills ms-auto text-light gx-3 [&>li>a:hover]:!tw-text-elter-blue-200">
    <li class="nav-item">
      <a href="{{ request.lang }}/about{% if request.contentLang and request.contentLang != request.lang %}?clang={{ request.contentLang }}{% endif %}{% if request.queryParam('anylang') == 'on' %}{% if request.contentLang == request.lang %}?{% else %}&{% endif %}anylang=on{% endif %}" id="navi2" class="fs-6 text-light topbar-nav-link ms-3 text-decoration-none">
        <i class="fa-solid fa-circle-info"></i>&nbsp;{{ "About" | trans }}
      </a>
    </li>
  </ul>
</div>
